<div id="particles-js">
   <div class="row row-nav">
     <ul class="mobile-nav js--mobile-nav">
      <li><a class="link" href="#about" data-scroll>About</a></li>
     </ul>
     <a class="mobile-nav-icon js--nav-icon"><i class="fa fa-bars"></i></a>
  </div>
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:guankj@uci.edu"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/kelvinjguan"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/kelvinjguan"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<nav class="">
    <div class="row">
      <ul class="main-nav js--main-nav">
        <li><a class="link" href="#about" data-scroll><span class="js--link-about">About</span></a></li>
      </ul>
    </div>
</nav>
