<div class="row js--projects-wp">
  <h2> Featured Projects </h2>
</div>
<div class="row">
  <div class="projects">
    <!-- ************************************************************************************ -->
    <div class="user-projects js--project-01">
      <h3 class="js--project-title-01"> Six Degrees of Bacon</h3>
      <div class="images-right js--image-right-01">
        <img alt="mountains" src="{{ "/assets/img/banner.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="contents js--content-left-01">
        <ul>
          <li>KNN algorithm for multi-cloud resource recommender for scientific applications.</li>
          <li>Java Struts 2, HTML, CSS, Jquery</li>
        </ul>
        <p>Multi-cloud resource recommender and deployment engine for scientific applications based on users technical as well as cost requirements.</p>
        <a class="project-link" href="https://github.com/kelvinjguan/six_degrees_of_bacon">Check it out!</a>
      </div>
    </div>
</div>
