<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about" class="section-about js--section-about">
        {% include about.html %}
      </section>
      <section id="projects" class="section-projects js--section-projects">
        {% include projects.html %}
      </section>
      <section id="publications" class="section-publications js--section-publications">
        {% include publications.html %}
      </section>
      <section id="contact" class="section-contact js--section-contact">
        {% include contact.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
